body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

#root div.employees-header{
  margin-top: 8px;
  border-top: 1px solid #23527c;
  display: flex;
  justify-content: space-between;
}
#root div.employees-header .sort-box{
  padding-top: 20px;
}
#root div.employees-header .sort-box select{
  margin-left: 10px;
}

#root div.employees-header h3{
  margin-top: 15px;
}
#root div#employees-list{
  margin-left: 5%;
}
#root div#employees-list .employee-data{
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 158px;
  margin-bottom: 15px;
}
@media screen and (max-width: 769px) {
  #root div#employees-list .employee-data{
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 200px;
      margin-bottom: 10px;
  }
  #root div#employees-list .employee-data img{
    max-height: 60px!important;
  }
}
#root div#employees-list .employee-data .employee-data-field{
  padding-top: 5px;
}
#root div#employees-list .employee-data img{
  padding-left: 2px;
  max-height: 125px;
}
#root div#employees-list .employee-data .employee-name{
  word-break: break-word;
  font-size: 17px;
  color: #dd7608;
}
#root div#employees-list .employee-data .employee-info{
  font-size: 12.5px;
  padding-top: 14px;
}
#root div#employees-list .employee-data .employee-info p{
  margin-top: -6%;
}
#root div#employees-list .employee-data .employee-info p.employee-address{
  word-break: break-word;
}
#root div.loader{
  display: inline-block;
  width: 100%;
  text-align: center;
}

a.active{
  color: orange;
}

.btn.btn-primary.to-employees-button{
  padding: 3px;
  font-size: 13px;
  border-radius: 5px;
}

nav {
  padding-top: 20px;
}